div{
    width: 400px;
    height: 600px;
    border: 5px dashed red;
    text-align: center;
    margin: 0 auto;
    background-color: yellow;
}

h1{
    font-family: Impact;
    font-size: 40pt;
    margin: 5px;
}
.font20pt{
    font-size: 20pt;
}