section{
    background-color: #faf3d2;
}
.header, .end{
    width: 100%;
    float:left;
    background-color: #F1F1F1;
}

.tiles-wrapper{
    float:left;
    width: 100%;
    background-color: #E0E0E0;
}
.tiles{
    width: 90%;
    background-color: #aaa3a2;
    text-align: center;
    margin: 0 auto;
}
.tiles ul{
    list-style: none;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.tiles li{
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 260px;
    min-height: 220px;
    padding: 0;
    margin: 8px;
    background-color: #F1F1F1;
}
.tiles li img{
    width: 100%;
    max-width: 240px;
    max-height: 140px;
    margin: 0 auto;
}
